
@keyframes slide {
    0%{
        top: -50rem;
    }
    
    100%{
        top: 150%;
    }
}

@keyframes slideLeft{
    0%{
        left:0;
    }
    100%{
        left: -100vw;
    }
}

@keyframes slideRight{
    0%{
        right:100vw;
    }

    100%{
        right: 0vw;
    }
}

@keyframes pSlideRight{
    0%{
        left: -100%;
    }

    100%{
        left: 100%;
    }
}

@keyframes imgSlide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }


}