.mPadding{
    padding: 20px;
}

.mPaddingLR{
    padding: 0 20px;
}

.lPadding{
    padding: 50px;
}

.mPadding-bottom{
    padding-bottom: 20px;
}

.mMarginLeft{
    margin-left: 20px;
}

.lMarginLeft{
    margin-left: 50px;
}

.sMarginTop{
   margin-top: 20px; 
}